include templates/sections

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> 
        script(src="anime.min.js" defer)
        script(src="main.js" defer)
        script(src="https://kit.fontawesome.com/503f634bdf.js" crossorigin="anonymous")
        title GDT

        body
            nav       
                +nav
            include templates/homepage
            footer
                +footer
            +footerCopy







