doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> 
        script(src="..\\node_modules\\@barba\\core\\dist\\barba.js")
        script(src="..\\node_modules\\animejs\\lib\\anime.min.js")
        script(src="main.js")
        title GDT
    body
        button.button.button--primary Book us now
        button.button.button--subtle-primary Book us now
        button.button.button--accent Book us now
        button.button.button--subtle-accent Book us now

